{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/scroll.css' %}">

<section>
    <div class="parallax-one">
        <h2 class="header" style="left:60px;top:160px">Aaltoileva
        </h2>
        <div class="body_white" style="font-size:22px;left:80px;top:300px"><p>[a:ltoileva] adj. <span style="font-style:italic;"> wavy, billowy, surfy, fluctuating</span></p>
            <p>Alvarin mieliala on aaltoileva. <span style="font-style:italic;">Alvari’s mood is fluctuating.</span>
            </p>
        </div>
        <div class="body_black" style="left:80px;top:450px;font-size:35px"><p>You’re not alone.</p>
            <p>It’s common for us Aalto feel that way.</p> 
        </div>
    </div>
</section>

    <section>
    <div class="parallax-two">
            
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2><div class="header2">How are you right now?</div></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><button class="link">I’m not sure?</button></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><button class="link" >Never been better!</button></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><button class="link" >Fine and dandy, thx.</button></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><button class="link" >Same old, same old.</button></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><button class="link" >Meh. Really tired.</button></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><button class="link" >Struggling...</button></p>
            </div>
        </div>
    </div>

            
    </div>
    </section>

<section>
    <div class="parallax-three">
        <p class="header_white" style="width:13em;font-size:40px;right:30px;top:150px">{{ question.question_text }}</p>

      <form method="post">
        {% csrf_token %}
        
        

        <label class="container">
            <input type="radio" name="dark" id="yes">
            <span class="checkmark" style="top:420px;left:1000px"></span>
            <span class="body_black" style="font-size:40px;top:420px;left:1040px">Yes</span>
        </label>

        <label class="container" >
            <input type="radio" name="dark" id="yes"style="top:450px;left:300px" >
            <span class="checkmark" style="top:500px;left:1000px"></span>
            <span class="body_black" style="font-size:40px;top:500px;left:1040px">No</span>
        </label>

        </section>
  

    </div>
</section>

<section>
  <div class="parallax-four">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="daily_data_header"><p>It is normal to feel </p>
            <p>tired at times</p></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="daily_data_text">Actually Elina and 98 others at Aalto
           are feeling tired right now too.</div>
      <!-- <img class="daily_data_img" src="{% static 'img/aalto_moods_today.png' %}" alt="Daily moods"> -->
        </div>
        <div class="col-sm-6">
          <figure class="figure">
            <img src="{% static 'img/aalto_moods_today.png' %}" class="figure-img img-fluid rounded" alt="Daily moods">
            <figcaption class="figure-caption">Today's moods</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
    <div class="parallax-five">
      <div class="header_white" style="font-size:50px;right:150px;top:150px">You are not alone.</div>
        
      <div class="body_black" style="font-size:28px;right:180px;top:240px">
        <p>Today <span style="font-family:graphik-bold">31%</span> of Aaltoees are</p>
        <p>struggling with their studies.</p>
        <p>This week <span style="font-family:graphik-bold">82%</span> have struggled</p>
        <p>at some point.</p>
    </div>
    
    </div>

    
       
</section>

{% endblock %}