{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/scroll.css' %}">

<section>
    <div class="parallax-one">
        <h2 class="header"><p>Riding</p>
            <p>the</p>
            <p>Wave</p>
        </h2>
        <div class="body_white"><p>How are you today?</p>
            <p>How is the community?</p>
        </div>
        <div class="body_black">These are the moods of Aalto.</div> -->
    </div>
</section>

<section>
    <div class="parallax-two">
      <h2>Lorem ipmsum</h2>
    </div>
</section>

<section>
    <div class="parallax-three">
      <h2>Lorem ipmsum</h2>
    </div>
</section>

<section>
    <div class="parallax-four">
      <h2>Lorem ipmsum</h2>
    </div>
</section>

<section>
    <div class="parallax-five">
      <h2>Lorem ipmsum</h2>
    </div>
</section>

{% endblock %}