
.background {
    height: 800px;
    background:#475d62 url('../img/login/Home_backg.png');
    background-size:cover;
    position:relative;
  }

.header{
    position: absolute;
    font-family: graphik;
    font-size:120px;
    color:black;
    line-height:0.8;
    left: 70px;
    top: 150px;
}

.header2{
    position: absolute;
    font-family: graphik;
    font-size:80px;
    color:black;
    line-height:0.8;
    left: 80px;
    top: 100px;
}

.body_white{
    position: absolute;
    font-family: graphik;
    font-style: italic;
    line-height:0.8;
    font-size:23px;
    color:white;
    left: 100px;
    top: 300px;
}

.body_black{
    position: absolute;
    font-family: graphik;
    font-size:40px;
    line-height:0.8;
    color:black;
    left: 100px;
    top: 550px;
}

.avp_logo {
    height:100px;
    background:#475d62 url('../img/avp_logo.png');
    background-size:cover;
    position:absolute;
    /* left: 500px;
    top: 600px; */
}

  button.link { 
      background:none;
      border:none; 
}