@font-face {
    font-family: 'graphik-bold';
    src: local('GraphikBold'), url('../fonts/GraphikBold.ttf') format("truetype");
  }

@font-face {
    font-family: 'graphik-regular';
    src: local('GraphikRegular'), url('../fonts/GraphikRegular.ttf') format("truetype");
}


.background {
    height: 800px;
    background:#475d62 url('../img/login/Home_backg.png');
    background-size:cover;
    position:relative;
  }

.header{
    position: absolute;
    font-family: graphik-bold;
    font-size:120px;
    color:black;
    line-height:0.8;
}

.header2{
    position: relative;
    font-family: graphik-bold;
    font-size:70px;
    color:black;
    line-height:0.8;
}

.header_white{
    position: absolute;
    font-family: graphik-bold;
    color:white;
    line-height:1.2;
}

.body_white{
    position: absolute;
    font-family: graphik-regular;
    line-height:1.2;
    color:white;
}

.body_black{
    position: absolute;
    font-family: graphik-regular;
    font-size:40px;
    line-height:0.8;
    color:black;
}

.body_black2{
  font-family: graphik-regular;
  font-size:40px;
  line-height:0.8;
  color:black;
}

.avp_logo {
    height:100px;
    background:#475d62 url('../img/avp_logo.png');
    background-size:cover;
    position:absolute;
    /* left: 500px;
    top: 600px; */
}

  button.link { 
      background:none;
      border:none; 
}

.daily_data_header{
  font-family: graphik-bold;
  color:white;
  line-height:1.2;
  font-size:80px;
  top:80px;
  left:50px;
}

.daily_data_text{
  font-family: graphik-regular;
  color: black;
  line-height: 1.5;
  margin: 20px;
  font-size: 40px;
}

figure {
  display: inline-block;
  background-color: rgba(235, 235, 235, 0.7);;
}

figure img {
  vertical-align: top;
}

figure figcaption {
  text-align: center;
}
/* Hide the browser's default checkbox */
.container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(45,181,133);
  }

.link{
  font-style:graphik;
  font-size:25px;
  color:white;
}


.link:hover{
    font-style:graphik-bold;
    color:rgb(254,108,58)
}
